.title-gallery {
  max-width: 1700px;
  margin-bottom: 50px;
}

.gallery-container {
  max-width: 1700px;
  margin: 40px auto;
}

.image-gallery-content .image-gallery-slide img {
  object-fit: contain;
  max-height: 80vh; /* adjust as needed */
  width: 100%;
  border-radius: 12px;
}

/* .image-gallery-slide-wrapper {
  touch-action: pan-y !important;
} */


.image-gallery-thumbnails {
  margin-top: 12px;
}

.image-gallery-thumbnail img {
  border-radius: 6px;
  height: 70px;
  object-fit: cover;
}

/* .image-gallery-thumbnails-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
} */

/* .image-gallery-thumbnails {
  display: flex;
  flex-wrap: nowrap;
} */

/* .image-gallery-thumbnail {
  flex: 0 0 auto;
} */


@media (max-width: 768px) {
  .image-gallery-slide-wrapper {
    pointer-events:none;   
  }
}
