.no-blogs-message {
  text-align: center;
  font-size: 1.125rem; 
  color: #6b7280; 
  margin-top: 2.5rem; 
  font-weight: 500;
}


.blog-list-grid1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Responsive grid container */
.blog-list-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr; /* Default: 1 column */
}

@media (min-width: 640px) {
  .blog-list-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1024px) {
  .blog-list-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
  .blog-list-grid1 {
    grid-template-columns: repeat(2, 1fr); 
  }
}


/* Blog card hover effect */
.blog-list-item:hover,
.blog-list-item:focus-within {
  transform: translateY(-4px);
  border-radius: 0.5rem;
  z-index: 1;
}
.blog-list-item1:hover,
.blog-list-item1:focus-within {
  transform: translateY(-4px);
  border-radius: 0.5rem; 
  z-index: 1;
}

/* Simple fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
